@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default light theme */
/* Default light theme */
:root {
  --color-primary: #d4ab2e; /* Amber Yellow */
  --color-background: #f5f5f5; /* Very Light Gray (Main Background) */
  --color-background-secondary: #e0e0e0; /* Light Gray (Secondary Background) */
  --color-background-tertiary: #d0d0d0; /* Slightly Darker Gray (Tertiary Background) */
  --color-text-primary: #303030; /* Dark Charcoal */
  --color-text-secondary: #666666; /* Gray */
  --color-button-bg: #ffc107; /* Amber Yellow */
  --color-button-text: #333333; /* Dark Charcoal */
  --color-border: #a1a1aa; /* Light Gray */
  --color-card-bg: #ffffff; /* White */
}

/* Dark theme */
.dark {
  --color-primary: #ffc107; /* Amber Yellow */
  --color-background: #262626; /* Very Dark Gray (Main Background) */
  --color-background-secondary: #1e1e1e; /* Darker Gray (Secondary Background) */
  --color-background-tertiary: #2c2c2c; /* Even Darker Gray (Tertiary Background) */
  --color-text-primary: #f0f0f0; /* Light Gray */
  --color-text-secondary: #b3b3b3; /* Medium Gray */
  --color-button-bg: #ffc107; /* Amber Yellow */
  --color-button-text: #333333; /* Dark Charcoal */
  --color-border: #2c2c2c; /* Darker Gray */
  --color-card-bg: #1a1a1a; /* Nearly Black */
}

.truncate-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  line-break: anywhere;
}

@keyframes bounce {
  0% {
    transform: translateY(-60%);
    opacity: 0.7;
  }
  100% {
    transform: translateY(20%);
    opacity: 1;
  }
}

.animation1 {
  animation: bounce 0.4s ease-in-out infinite alternate;
  animation-delay: -0.4s;
}

.animation2 {
  animation: bounce 0.4s ease-in-out infinite alternate;
  animation-delay: -0.2s;
}

.animation3 {
  animation: bounce 0.4s ease-in-out infinite alternate;
  animation-delay: 0s;
}

/* For modern browsers */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--color-text-secondary) rgba(0, 0, 0, 0.1); /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust this for width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-text-secondary); /* Background of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-text-secondary); /* Thumb color */
  border-radius: 10px; /* Rounded edges */
}
